header {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.header__left {
  width: fit-content;
  max-width: 600px;
  color: var(--primary-color);
}

.header__left h1 {
  line-height: 5.5rem;
  letter-spacing: -4px;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: -20px 5px 10px rgba(0, 0, 0, 0.301);
}

.david {
  background-color: transparent;
  animation: gradient 10s ease infinite;
  background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
  background-size: 400% 400%;
  width: 400px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 0 30% 0 50%;
  box-shadow: rgba(0, 0, 0, 0.600) -20px 10px 30px;
  margin-right: 10rem;
  filter: contrast(140%);
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}