<section data-anime="left">
    <header>
        <div class="header__left">
          <h1 id="hello">Olá! Meu nome é David Lucas e sou Desenvolvedor Fullstack</h1>
          <!-- <h1 id="cargo" class="cargo"></h1> -->
        </div>
        <div class="header__right">
          <div class="teste">
            <a href="https://www.linkedin.com/in/david-lucas-a21208176/" rel="noopener noreferrer" target="_blank"><img src="assets/avatar-big-david_NO_BG.png" alt="David Lucas" class="david"></a>
          </div>
        </div>
    </header>
</section>