<nav class="navbar">
    <div class="navbar__content">
      <a class="logo-container" href="/">
        <img src="assets/Logo.png" class="logo-navbar" alt="Logo que significam D e L de David Lucas">
        <img src="assets/LogoEV.png" class="logo-ev" alt="Logo DavidLucas 1Developer">
      </a>
      <ul class="navbar__links">
        <li><a id="header-nav" href="#header">Início</a></li>
        <li><a id="about-nav" href="#about">Sobre</a></li>
        <li><a id="skills-nav" href="#skills">Habilidades</a></li>
        <li><a id="frontend-nav" href="#frontend">Tecnologias</a></li>
        <li><a id="projects-nav" href="#projects">Projetos</a></li>
        <li><a id="footer-nav" href="#footer">Contato</a></li>
        <li>
          <div class="container-check">
            <input type="checkbox" id="dark-mode-toggle">
            <img src="./assets/theme.png" alt="Dark mode button" id="checkbox-img" class="bright">
          </div>
        </li>
        <li class="language">
          <img src="./assets/language.png" alt="Botão de Idiomas" id="language-img">
          <ul class="language-menu">
            <li><span class="icon brazil"></span></li>
            <li><span class="icon english"></span></li>
            <li><span class="icon spanish"></span></li>
            <li><span class="icon french"></span></li>
            <li><span class="icon japanese"></span></li>
          </ul>
        </li>
      </ul>
      <div class="navbar__mobile">
        <img src="assets/menu.svg" alt="menu" class="burguer" />
        <div class="container-check">
          <input type="checkbox" id="dark-mode-toggle1">
          <img src="./assets/theme.png" alt="" id="checkbox-img1" class="bright">
        </div>
        <ul class="mobile__links">
          <li><a id="header-nav" href="#header">Início</a></li>
        <li><a id="about-nav" href="#about">Sobre</a></li>
        <li><a id="skills-nav" href="#skills">Habilidades</a></li>
        <li><a id="frontend-nav" href="#frontend">Tecnologias</a></li>
        <li><a id="projects-nav" href="#projects">Projetos</a></li>
        <li><a id="footer-nav" href="#footer">Contato</a></li>
        </ul>
        <li class="language">
          <img src="./assets/language.png" alt="" id="language-img">
          <ul class="language-menu">
            <li><span class="icon brazil"></span></li>
            <li><span class="icon english"></span></li>
            <li><span class="icon spanish"></span></li>
            <li><span class="icon french"></span></li>
            <li><span class="icon japanese"></span></li>
          </ul>
        </li>
      </div>
    </div>
</nav>