<section id="companys" class="about" data-anime="left">
    <div class="companys">
      <h3 id="companys-title" class="companys-title">
        Empresas em que já trabalhei e/ou estive em projetos relacionados.
      </h3>
        <div class="company-logos">
          <a href="https://www.thomsonreuters.com" rel="noopener noreferrer" target="_blank"><img src="./assets/Thomson_Reuters_logo.png" class="thomsonlogo"></a>
          <a href="https://www.deere.com.br/pt/index.html" rel="noopener noreferrer" target="_blank"><img src="./assets/johndeere.png"></a>
          <a href="https://benfatto.net.br/" rel="noopener noreferrer" target="_blank"><img src="./assets/benfatto-logo.png" width="300px"></a>
          <a href="https://www.nissan.com.br/" rel="noopener noreferrer" target="_blank"><img src="./assets/nissan.png" class="nissanlogo"></a>
          <a href="https://www.viracopos.com/" rel="noopener noreferrer" target="_blank"><img src="./assets/viracopos.logo.png"></a>
          <a href="https://embraer.com/br/pt" rel="noopener noreferrer" target="_blank"><img src="./assets/embraer.png" width="420px"></a>
          <!-- <img src="./assets/sotreq.png" width="300px"> -->
        </div>
    </div>
  </section>  